@font-face {
	font-family: 'vacantz';
	src: url('./vacantz.eot');
	src: local('vacantz'), url('./vacantz.woff') format('woff'), url('./vacantz.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_901">Text with this font applied</p> */
.fontsforweb_fontid_901 {
	font-family: 'vacantz' !important;
}

/* Font downloaded from FontsForWeb.com */